<% unless @alerts_for_person.nil? %>
    <% @alerts_for_person.each_with_index do |c_alert,index| %>
        <tr class="td-heading-2" id="<%= c_alert["targetAccountId"] %>">
          <td colspan="2" class="bold bg-gray-2 pad-T5 pad-B5">Target Person: <%= c_alert["targetName"] %></td>
          <td class="display-none"></td>
        </tr>
        <% total_alerts = c_alert["networkAlert"].length %>
        <% unless total_alerts < 1 %>
            <% a_alert = c_alert["networkAlert"] %>
            <% (0..(total_alerts - 1)).each do |i| %>
                <%
                   friend = a_alert[i]["yourConnection"]
                   f_connected = a_alert[i]["connectedTo"]
                   is_connected_to_salesforce = f_connected_to_salesforce(a_alert[i])
                   friend_profile = friend_profile_url(friend)
                   friend_target = friend_profile == "#" ? '' : ' target="_blank"'
                   unless f_connected.nil?
                     f_connected_profile = f_connected_profile_url(f_connected)
                     f_connected_target = f_connected_profile == "#" ? '' : ' target="_blank"'
                   end
                %>
                <tr>
                  <td class="pad-T10 pad-B10" <%= 'colspan=2' if f_connected.nil? %>>
                    <span class="USR-phto-box"><img class="userpic" src="<%= friend_profile_pic_url(friend) %>" width="25" height="25"> </span>
                    <div class="USR-info">
                      <a class="col-blue bold calibrib td-heading-2" href="<%= friend_profile %>"<%= friend_target %>><%= friend_name(friend) %> </a>
                      <br>
                      <span class="multiline-ellipsis"><%= friend_headline(friend) %></span>
                    </div>
                  </td>
                  <% unless f_connected.nil? %>
                      <td class="pad-T10 pad-B10">
                        <span class="USR-phto-box"><img class="userpic" src="<%= f_connected_profile_pic_url(f_connected) %>" width="25" height="25"> </span>
                        <div class="USR-info">
                          <a class="col-blue bold calibrib td-heading-2" href="<%= f_connected_profile %>"<%= f_connected_target %>><%= f_connected_name(f_connected) %></a>
                          <br>
                          <span class="multiline-ellipsis"><%= f_connected_headline(f_connected) %></span>
                        </div>
                      </td>
                  <% end %>
                </tr>
            <% end %>
            <% if c_alert["totalPersonNameAlerts"].to_i > 5 %>
                <tr>
                  <td class="bg-blue pad-T5 pad-B5" colspan="2"><a class="bold col-white td-heading" href="<%= all_alerts_path(c_alert["targetAccountId"],"Company") %>">See all alerts for "Target Person: <%= c_alert["targetName"] %>" <span class="font-10">►</span></a></td>
                  <td class="display-none"></td>
                </tr>
                <tr><td colspan="2" style="height:15px;"></td><td class="display-none"></td></tr>
            <% end %>
        <% end %>
    <% end %>
<% end %>
