<% results_flag = (@alerts_for_company.nil? and @alerts_for_person.nil? and @alerts_for_position.nil? and @alerts_for_role.nil?) %>
<div class="right-panel" style="width:94%; padding:3%;">
  <div class="userprofile-box">
    <div class="profile-title"><%= profile_user_name %></div>
    <div class="profile-details-box">
      <img class="photo" src="<%= profile_user_profile_pic_url %>" alt="" title="" />
      <div class="info">
        <strong>Company: </strong>  <span><%= profile_user_company %></span>
        <br />
        <strong>Email:</strong>  <a href="mailto:<%= profile_user_email %>"><%= profile_user_email %></a>
        <br />
        <strong>Location: </strong>  <span><%= profile_user_location %></span>
        <div class="social-integration">
          <strong>Logged in with:</strong>
          <a href="<%= authorize_with_likedin_path %>">
            <img src="/assets/linkedin_32.png" class="enabled" />
          </a>
          <!--<a href="<%#= authorize_with_google_path %>">-->
          <!--<img src="/assets/gmail.png" class="<%#= check_google_session ? "enabled" : "disabled" %>" />-->
          <!--</a>-->
          <!--<a href="<%#= authorize_with_facebook_path %>">-->
          <!--<img src="/assets/facebook_32.png" class="<%#= check_facebook_session ? "enabled" : "disabled" %>" />-->
          <!--</a>-->
          <!--<a href="<%#= '#' %>">-->
          <!--<img src="/assets/twitter_32.png" class="<%#= check_facebook_session ? "enabled" : "disabled" %>" />-->
          <!--</a>-->
        </div>
      </div>

      <div class="info float-R" style="background:#ececec; width:37%; padding:1.5%;">
        <% unless @subscription.nil?
             if @subscription["subscriptionType"] ==  "PRO"
               card_details = @subscription["creditCardDetails"]
        %>
                <strong>Plan type: </strong> <a href="#" class="bold" style="pointer-events:none;">Pro</a><span style="color: #949494;"> &bull; Trial</span>
                <br />
                <strong>Payment info:</strong>
                <% unless card_details.blank? %>
                    <%= card_details["cardType"] %> "....<%= card_details["lastFour"] %>"
                <% else %>
                    N/A
                <% end %>
                <!--<span style="color: #949494;"> | </span><a href="#" onclick='popup("delete-card");return false;'>Delete</a>-->
                <br />
                <a href="#" onclick='popup("cancel-account");return false;'>Cancel account</a>
            <% else %>
                <strong>Plan type: </strong> <span style="color: #949494;">Pro &bull; </span><a href="#" style="pointer-events:none;"><span class="bold"><%= to_dc @subscription["subscriptionType"] %></span><span> (expires in <%= @subscription["trialDaysRemaining"] %> days)</span></a>
                <br />
                <div class="div_holder pad-T15 pad-B5"><a href="<%= upgrade_path %>" class="save_change_btn">Upgrade account</a></div>
            <%
               end
               end
            %>
      </div>
    </div>

    <div class="profile-details-box mrg-B30 border-B pad-B30 pad-T15">
      <div class="half-box float-L">
        <form action="<%= add_recipients_path %>" id="alert-recipient-form" method="post">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <div class="alert_recipients">
            <h2>Alert Recipients<span class="add-recipient-error display-none col-red font-18">&nbsp;*</span></h2>
            <p>If you want to add more recipients to alerts, add them here.</p>
            <ul>
              <% unless @emails.blank? %>
                  <% @emails.each do |email| %>
                      <li>
                        <label class="disable_text"><%= email["email"] %></label>
                        <span><a class="delete-alert-recipient"  href="<%= remove_recipient_path({:id => email["recipientId"]}) %>"><img src="assets/delete_icon.png" width="20" height="19" alt="delete"></a></span>
                      </li>
                  <% end %>
              <% end %>
              <li>
                <div class="input_block mrg-T10 mrg-B10">
                  <input type="text" class="inputbox outline-none" placeholder="abc@xyz.com" name="recipient-email" value="">
                  <a href="#" class="float-R edit_icn"><img src="/assets/edit_icon2.png" width="11" height="10" alt="edit"></a>
                </div>
              </li>
            </ul>
            <div class="div_holder pad-L15 pad-B10"><a href="#" class="addmores add-alert-recipient">(Add more)</a></div>
            <div class="all-box-3 pad-L15 pad-B10">
              <span class="add-recipient-confirmation display-none col-red font-11">Recipients have been added.</span>
            </div>
            <div class="div_holder pad-L10 pad-B10"><input type="submit" name="" value="Save changes" class="save_change_btn"></div>
          </div>
        </form>
      </div>
      <div class="frequency-box float-R">
        <div class="alert_recipients">
          <h2>Notification Frequency</h2>
          <p>How often do you want to receive alert emails?</p>
        </div>
        <ul class="blue-radio-box mrg-T10">
          <li class="width_116 float-R mrg-T5 col-black-2">
            <label for="radio3" class="mrg-L20 font-14 font_arial">Unsubscribe</label>
            <span></span><input type="radio" id="radio3" name="notification_frequency" value="UNSUBSCRIBE" <%= 'checked=checked' if @frequency == "UNSUBSCRIBE" %>/><span></span>
          </li>
          <li class="width_116 float-R mrg-T5 col-black-2">
            <label for="radio1" class="mrg-L20 font-14 font_arial">Weekly</label>
            <span></span><input type="radio" id="radio1" name="notification_frequency" value="WEEKLY" <%= 'checked=checked' if @frequency == "WEEKLY" %>/><span></span>
          </li>
          <li class="width_116 float-R mrg-T5 col-black-2">
            <label for="radio2" class="mrg-L20 font-14 font_arial">Daily</label>
            <span></span><input type="radio" id="radio2" name="notification_frequency" value="DAILY" <%= 'checked=checked' if @frequency == "DAILY" %>/><span></span>
          </li>
        </ul>
      </div>
    </div>

    <div class="all-box">
      <span class=" float-L font-26 bold">Alert history</span>
      <div style="width:455px;" class="float-R">
        <div class="search-panel">
          <div class="input-box">
            <input type="text" name="search-alerts" placeholder="Search alerts" class="input" style="height:30px; padding: 0 7% 0 2%; width:91%;">
            <input type="submit" value="" class="searchicon" style="top:5px;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sent_received_section" id="alert-history">
    <div class="white-box score-history mrg-T10">
      <table width="100%" align="left" cellpadding="6" cellspacing="0" id="dataTable-search">
        <thead>
        <tr class="alerts-header" style="display:none;">
          <th>friend</th>
          <th>f_connected</th>
          <!--<th>crm</th>-->
        </tr>
        </thead>
        <tbody class="alerts-list">
        <% unless @is_subscription_expired %>
            <tr>
              <td width="50%"  class="border-B col-orange bold font-14">Your current connection: </td>
              <td width="50%"  class="border-B col-orange bold font-14">Is now connected to:</td>
              <!--<td width="14%"  class="border-B col-orange bold font-14 txt-C"><img src="/assets/salesforce.jpg" width="109" height="26"> </td>-->
            </tr>
            <% unless results_flag %>
                <%= render :partial => "company_alerts" %>
                <%= render :partial => "person_alerts" %>
                <%= render :partial => "position_alerts" %>
                <%= render :partial => "role_alerts" %>
            <% else %>
                <tr>
                  <td colspan="2">
                    <p class="font-14">
                      <i>No history found.</i>
                    </p>
                  </td>
                  <td class="display-none"></td>
                  <!--<td class="display-none"></td>-->
                </tr>
            <% end %>
        <% else %>
            <tr>
              <td colspan="2">
                <p class="font-14">
                  <i><%= @subscription_message %></i>
                </p>
              </td>
              <td class="display-none"></td>
              <!--<td class="display-none"></td>-->
            </tr>
        <% end %>
        </tbody>
        <tfoot>
        <tr style="display:none;">
          <th>friend</th>
          <th>f_connected</th>
          <!--<th>crm</th>-->
        </tr>
        </tfoot>
      </table>
    </div>
  </div><!-- End sent_received_section -->
</div><!-- End Right Panel -->

<% unless results_flag %>
    <style type="text/css">
        div#dataTable-search_filter {
            display: none;
        }
        div#dataTable-search_wrapper {
            float: none;
        }
    </style>
    <script type="text/javascript">
        $(function() {
            gCompanyFilter = $('#dataTable-search').dataTable({
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": true,
                "bSort": false,
                "bInfo": false,
                "bAutoWidth": false,
                "oLanguage": {
                    "sSearch": ""
                }
            }).columnFilter({ aoColumns:
                            [
                                { type: "text", bRegex: true },
                                { type: "text", bRegex: true }
                            ]
                    });
        });
    </script>
<% end %>
