<% unless (@indirect_connections.nil? or @indirect_connections.blank?) %>
    <% @indirect_connections.each do |connection| %>
        <% person = connection["person"] %>
        <% is_person_connected = @salesforce_contacts.include?(connection_user_name(person).downcase) %>
        <%# next unless connection_company_name(person).downcase.include?(@query.downcase) %>
        <% shared_persons = connection["shared-person"] %>
        <tr class="USR-details-box">
          <td class="main-user-section">
            <div class="photo-box"><img class="main-usr-photo" src="<%= connection_profile_pic(person) %>" width="65" height="65"></div>
            <div class="main-usr-text nowrap-ellipsis" style="width: <%= is_person_connected ? 80 : 87 %>%;">
              <span class="name">
                <%= link_to connection_user_name(person), connection_profile_url(person), :target => "_blank" %>
                <span class="friendlabel-big">2nd</span>
                <% if is_person_connected %>
                  <div style="float:right;">
                    <img src="/assets/select-sign.png">
                  </div>
                  <script type="text/javascript">
                      gConnectedSalesForce["contactsId"].push({
                          id: "<%= @salesforce_contact_hash[connection_user_name(person).downcase.to_sym] %>"
                      });
                  </script>
              <% else %>
                  <div class="select-sign display-none" style="float:right;">
                    <img src="/assets/select-sign.png">
                  </div>
                  <form action="<%= add_salesforce_connection_path %>" method="post" class="add-to-salesforce-form" style="float: right;">
                    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                    <input type="hidden" name="salesForceAccountId" value="<%= @account_id %>" />
                    <input type="hidden" name="salesForceAccountName" value="<%= @company %>" />
                    <input type="hidden" name="firstName" value="<%= person["first-name"] %>" />
                    <input type="hidden" name="lastName" value="<%= person["last-name"] %>" />
                    <input type="hidden" name="profileUrl" value="<%= person["public-profile-url"] %>" />
                    <input type="hidden" name="profilePictureUrl" value="<%= person["picture-url"] %>" />
                    <input type="hidden" name="headline" value="<%= person["headline"] %>" />
                    <input type="hidden" name="location" value="<%= person["location"].nil? ? "" : person["location"]["name"] %>" />
                    <div class=" send-box" style="margin-top: -7px;" >
                      <input type="submit" class="send-btn mrg-T5 float-R font-12" value="add to contacts"/>
                    </div>
                  </form>
              <% end %>
              </span>
              <span class="font-13"> <%= connection_job_title(person) %> • <%= connection_company_name(person) %> • <%= connection_location(person) %> </span>
            </div>
          </td>
          <td>
            <% unless shared_persons.nil? %>
                <% shared_persons.each do |shared_person| %>
                    <div class="sub-user-section">
                      <div class="photo-box">
                        <span class="sub-border"></span>
                        <img class="sub-usr-photo" src="<%= connection_profile_pic(shared_person) %>" width="40" height="40">
                        <!--<span class="msg-number"> <%#= shared_person["sharedCount"] %> </span>-->
                      </div>
                      <div class="sub-usr-text">
                      <span class="name">
                        <%= link_to connection_user_name(shared_person), connection_profile_url(shared_person), :target => "_blank" %>
                        <span class="friendlabel-small">1st</span>
                      </span>
                        <span class="font-13"> <%= connection_job_title(shared_person) %> • <%= connection_company_name(shared_person) %> </span>
                      </div>
                    </div>
                <% end %>
            <% end %>
          </td>
        </tr>
    <% end %>
<% end %>
