<%
   alert_id, alert_type, alert_name, filters = nil
   company_filters = []
   role_filters = []
   size_filters = []
   industry_filters = []
   location_filters = []
   company_size_range = [
           '11-50','1-10','Any',
           '501-1000','201-500','51-200',
           '10000+','5001-10000','1001-5000'
   ]
   unless @alert.blank?
     alert_id = @alert["targetAccountId"]
     alert_type = to_dc @alert["filterType"]
     alert_name = @alert["targetName"]
     filters = @alert["secondLevelFilterDetails"]
     unless filters.blank?
       filters.each do |filter|
         filter_type = filter["subFilterType"]
         filter_texts = filter["filterTextDetails"].collect { |filter_details| filter_details["filterText"] }
         case filter_type
           when "COMPANY"
             company_filters = filter_texts
           when "ROLE"
             role_filters = filter_texts
           when "COMPANYSIZE"
             size_filters = filter_texts
           when "INDUSTRY"
             industry_filters = filter_texts
           when "LOCATION"
             location_filters = filter_texts
         end
       end
     end
   end
%>
<div class="alert_edit_sec">
<form action="<%= save_alert_changes_path %>" class="save-alert-changes" style="background:none;">
<input type="hidden" name="alertId" value="<%= alert_id %>">
<table width="100%" border="0" cellspacing="0" cellpadding="14">
<tr>
  <th width="26%" height="70" valign="middle">Filter type</th>
  <td valign="middle"><ul class="blue-radio-box marg_t23">
    <li class="width_116 float-R mrg-T5 col-black-2">
      <label for="radio1" class="mrg-L20 font-14 font_arial">Person</label>
      <% unless alert_type.nil? %>
          <span></span><input type="radio" id="radio1" name="filter-type" value="Person" <%= 'checked="checked"' if alert_type.eql? "Person" %>/><span></span>
      <% else %>
          <span></span><input type="radio" id="radio1" name="filter-type" value="Person" /><span></span>
      <% end %>
    </li>
    <li class="width_116 float-R mrg-T5 col-black-2">
      <label for="radio2" class="mrg-L20 font-14 font_arial">Role</label>
      <% unless alert_type.nil? %>
          <span></span><input type="radio" id="radio2" name="filter-type" value="Role" <%= 'checked="checked"' if alert_type.eql? "Role" %>/><span></span>
      <% else %>
          <span></span><input type="radio" id="radio2" name="filter-type" value="Role" /><span></span>
      <% end %>
    </li>
    <li class="width_116 float-R mrg-T5 col-black-2">
      <label for="radio1" class="mrg-L20 font-14 font_arial">Company</label>
      <% unless alert_type.nil? %>
          <span></span><input type="radio" id="radio3" name="filter-type" value="Company" <%= 'checked="checked"' if alert_type.eql? "Company" %>/><span></span>
      <% else %>
          <span></span><input type="radio" id="radio3" name="filter-type" value="Company" checked="checked"/><span></span>
      <% end %>
    </li>
  </ul>
  </td>
</tr>
<tr id="Company-filter" class="display-none">
  <th valign="middle">Company</th>
  <td valign="middle">
    <div class="input_block mrg-T10 mrg-B10">
      <% if alert_type.eql? "Company" %>
          <input type="text" class="inputbox outline-none" name="company-name" value="<%= alert_name %>">
      <% else %>
          <input type="text" class="inputbox outline-none" name="company-name" value="">
      <% end %>
      <a href="#" class="float-R edit_icn"><img src="/assets/edit_icon2.png" width="11" height="10" alt="edit"></a>
    </div>
  </td>
</tr>
<tr id="Role-filter" class="display-none">
  <th valign="middle">Role</th>
  <td valign="middle">
    <div class="input_block mrg-T10 mrg-B10">
      <% if alert_type.eql? "Role" %>
          <input type="text" class="inputbox outline-none" name="role-name" value="<%= alert_name %>">
      <% else %>
          <input type="text" class="inputbox outline-none" name="role-name" value="">
      <% end %>
      <a href="#" class="float-R edit_icn"><img src="/assets/edit_icon2.png" width="11" height="10" alt="edit"></a>
    </div>
  </td>
</tr>
<tr id="Person-filter" class="display-none">
  <th valign="middle">Person</th>
  <td valign="middle">
    <div class="input_block mrg-T10 mrg-B10">
      <% if alert_type.eql? "Person" %>
          <input type="text" class="inputbox outline-none" name="person-name" value="<%= alert_name %>">
      <% else %>
          <input type="text" class="inputbox outline-none" name="person-name" value="">
          <div class="person-autocomplete-box display-none" style="height: 180px;z-index: 99;top: 24px;">
            <div class="search-connection-loader"></div>
            <div class="search-connection-no-result">No connection found</div>
            <table width="100%" align="center" cellpadding="6" cellspacing="0">
              <tbody>
              </tbody>
            </table>
          </div>
      <% end %>
      <a href="#" class="float-R edit_icn"><img src="/assets/edit_icon2.png" width="11" height="10" alt="edit"></a>
    </div>
  </td>
</tr>
<tr class="Person-slf">
  <th valign="middle">Company</th>
  <td valign="middle">
    <div class="input_block mrg-T10 mrg-B10 pad-B5">
      <% unless filters.nil? or company_filters.blank? %>
          <% company_filters.each_with_index do |company,i| %>
              <span class="company darkgray mrg-L5 mrg-T5"><%= company %><a class="remove-darkgray" href="#"><img src="/assets/close.png" width="8" height="8" alt="close"></a></span>
          <% end %>
      <% end %>
      <div class="pos-Rel float-L">
        <span class="lightgray_txtdark mrg-L5 mrg-T5" style="position: relative;">
          <input type="text" name="company2" class="inputbox_2 outline-none" placeholder="Company" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company'">
        </span>
      </div>
      <a href="#" class="float-R edit_icn"><img src="/assets/edit_icon2.png" width="11" height="10" alt="edit"></a>
    </div>
  </td>
</tr>
<tr class="Company-slf Person-slf">
  <th valign="middle">Role</th>
  <td valign="middle">
    <div class="input_block mrg-T10 mrg-B10 pad-B5">
      <% unless filters.nil? or role_filters.blank? %>
          <% role_filters.each_with_index do |role,i| %>
              <span class="role darkgray mrg-L5 mrg-T5"><%= role %><a class="remove-darkgray" href="#"><img src="/assets/close.png" width="8" height="8" alt="close"></a></span>
          <% end %>
      <% end %>
      <div class="pos-Rel float-L">
        <span class="lightgray_txtdark mrg-L5 mrg-T5" style="position: relative;">
          <input type="text" name="role2" class="inputbox_2 outline-none" placeholder="Role" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Role'">
        </span>
      </div>
      <a href="#" class="float-R edit_icn"><img src="/assets/edit_icon2.png" width="11" height="10" alt="edit"></a>
    </div>
  </td>
</tr>
<tr class="Role-slf">
  <th valign="middle">Company Size</th>
  <td valign="middle">
    <ul class="blue-radio-box mrg-T10 mrg-B10">
      <% unless filters.nil? or size_filters.blank? %>
          <% company_size_range.each_with_index do |range,i| %>
              <li class="width_116 float-R mrg-T5 col-black-2">
                <div class="checkboxFour">
                  <input type="checkbox" value="<%= range %>" id="checkboxFourInput<%= i %>" <%= 'checked=true' if size_filters.include? range %> name="size-filter" />
                  <label for="checkboxFourInput<%= i %>"></label>
                </div>
                <div class="mrg-L25"><%= range %></div>
              </li>
          <% end %>
      <% else %>
          <% company_size_range.each_with_index do |range,i| %>
              <li class="width_116 float-R mrg-T5 col-black-2">
                <div class="checkboxFour">
                  <input type="checkbox" value="<%= range %>" id="checkboxFourInput<%= i %>" <%= 'checked=true' if range.eql? "Any" %> name="size-filter" />
                  <label for="checkboxFourInput<%= i %>"></label>
                </div>
                <div class="mrg-L25"><%= range %></div>
              </li>
          <% end %>
      <% end %>
    </ul>
  </td>
</tr>
<tr class="Role-slf">
  <th valign="middle">Industry</th>
  <td valign="middle">
    <% unless filters.nil? or industry_filters.blank? %>
        <div class="input_block mrg-T10 mrg-B10 pad-B5">
          <% industry_filters.each_with_index do |industry,i| %>
              <span class="industry darkgray mrg-L5 mrg-T5"><%= industry %><a class="remove-darkgray" href="#"><img src="/assets/close.png" width="8" height="8" alt="close"></a></span>
          <% end %>
          <div class="pos-Rel float-L">
            <span class="lightgray_txtdark mrg-L5 mrg-T5" style="position: relative;">
              <input type="text" name="industries" class="inputbox_2 outline-none" placeholder="All industries" onfocus="this.placeholder = ''" onblur="this.placeholder = 'All industries'">
            </span>
            <div class="listboxs display-none" style="height: 180px;">
              <div class="search-connection-loader"></div>
              <div class="search-connection-no-result display-none" style="height: 120px;">No industry found</div>
              <ul class="list-container display-none"></ul>
            </div>
          </div>
          <a href="#" class="float-R edit_icn"><img src="/assets/edit_icon2.png" width="11" height="10" alt="edit"></a>
        </div>
    <% else %>
        <div class="input_block mrg-T10 mrg-B10 pad-B5">
          <div class="pos-Rel float-L">
            <span class="lightgray_txtdark mrg-L5 mrg-T5" style="position: relative;">
              <input type="text" name="industries" class="inputbox_2 outline-none" placeholder="All industries" onfocus="this.placeholder = ''" onblur="this.placeholder = 'All industries'">
            </span>
            <div class="listboxs display-none" style="height: 180px;">
              <div class="search-connection-loader"></div>
              <div class="search-connection-no-result display-none" style="height: 120px;">No industry found</div>
              <ul class="list-container display-none"></ul>
            </div>
          </div>
          <a href="#" class="float-R edit_icn"><img src="/assets/edit_icon2.png" width="11" height="10" alt="edit"></a>
        </div>
    <% end %>
  </td>
</tr>
<tr class="Role-slf">
  <th valign="middle">Location</th>
  <td valign="middle">
    <% unless filters.nil? or location_filters.blank? %>
        <div class="input_block mrg-T10 mrg-B10 pad-B5">
          <% location_filters.each_with_index do |location,i| %>
              <span class="location darkgray mrg-L5 mrg-T5"><%= location %><a class="remove-darkgray" href="#"><img src="/assets/close.png" width="8" height="8" alt="close"></a></span>
          <% end %>
          <div class="pos-Rel float-L">
            <span class="lightgray_txtdark mrg-L5 mrg-T5" style="position:relative;">
              <input type="text" name="locations" class="inputbox_2 outline-none" placeholder="All locations" onfocus="this.placeholder = ''" onblur="this.placeholder = 'All locations'">
            </span>
            <div class="listboxs display-none" style="height: 180px;">
              <div class="search-connection-loader"></div>
              <div class="search-connection-no-result display-none" style="height: 120px;">No location found</div>
              <ul class="list-container display-none"></ul>
            </div>
          </div>
          <a href="#" class="float-R edit_icn" ><img src="/assets/edit_icon2.png" width="11" height="10" alt="edit"></a>
        </div>
    <% else %>
        <div class="input_block mrg-T10 mrg-B10 pad-B5">
          <div class="pos-Rel float-L">
            <span class="lightgray_txtdark mrg-L5 mrg-T5" style="position:relative;">
              <input type="text" name="locations" class="inputbox_2 outline-none" placeholder="All locations" onfocus="this.placeholder = ''" onblur="this.placeholder = 'All locations'">
            </span>
            <div class="listboxs display-none" style="height: 180px;">
              <div class="search-connection-loader"></div>
              <div class="search-connection-no-result display-none" style="height: 120px;">No location found</div>
              <ul class="list-container display-none"></ul>
            </div>
          </div>
          <a href="#" class="float-R edit_icn" ><img src="/assets/edit_icon2.png" width="11" height="10" alt="edit"></a>
        </div>
    <% end %>
  </td>
</tr>
</table>
<div class="mrg-T20"><input id="save-alert-form" type="submit" class="save_change_btn pad-L20 pad-R20 pad-T10 pad-B10 mrg-B30" value="Save changes"></div>
</form>
</div> <!-- End Contoso Page -->
<div class="alert-text-box" style="width: 335px;">
  <span class="col-blue calibrib font-18">Monitor LinkedIn as your Network Expands</span>
  <p>OFunnel Alerts are email updates of your expanding network.</p>
  <p>How does it work? Enter a search query you wish to monitor and tell us whether it is a company, an individual, or a job role. We will let you know when someone in your network meets the criteria.  Some handy uses of OFunnel Alerts for</p>
  <ul class="font-14">
    <li class="mrg-B15"><b>SALES:</b>  Enter the accounts you are targeting.</li>
    <li class="mrg-B15"><b>RECRUITING:</b>  Enter the job role you are hiring for.</li>
    <li class="mrg-B15"><b>COMPETITIVE INTELLIGENCE:</b> Enter the name of the person or company name of your competitor.</li>
    <li class="mrg-B15"><b>JOB SEARCH:</b> Enter the name of the company you would like to work for.</li>
  </ul>
</div>
<script type="text/javascript">
    getPeopleList();
    getIndustryList();
    getLocationList();
    $('tr#' + $('input[name=filter-type]:checked').val() + '-filter').show();
    $('tr.' + $('input[name=filter-type]:checked').val() + '-slf').show();
</script>
