<% unless @location_collection.blank? %>
    <div class="listboxs2 display-none">
      <div class="listboxs2_catagories_outer">
        <div class="listboxs2_catagories country_wrapper">
          <ul>
            <% @location_collection.each_with_index do |location,index| %>
                <li class="country" rel="<%= location["country"].gsub(' ','') %>">
                  <a href="#" class="<%= 'selected2' if index == 0 %>"><%= location["country"] %></a>
                </li>
            <% end %>
          </ul>
        </div>
        <div class="listboxs2_catagories state_wrapper">
          <ul>
            <% @location_collection.each_with_index do |location,location_index| %>
                <div class="<%= "country_#{location["country"].gsub(' ','')}" %> <%= 'display-none' unless location_index == 0 %>">
                  <% location["state"].each_with_index do |state,state_index| %>
                      <li class="state" rel="<%= state["stateName"].gsub(' ','') %>">
                        <a class="<%= 'selected2' if state_index == 0 %>" href="#"><%= state["stateName"] %></a>
                      </li>
                  <% end %>
                </div>
            <% end %>
          </ul>
        </div>
        <div class="listboxs2_sub_catagories area_wrapper">
          <ul>
            <% @location_collection.each_with_index do |location,location_index| %>
                <% location["state"].each_with_index do |state,state_index| %>
                    <div class="<%= "country_#{location["country"].gsub(' ','')}" %> <%= "state_#{state["stateName"].gsub(' ','')}" %><%= ' display-none' unless location_index == 0 %>">
                      <% state["area"].each_with_index do |area_collection,index| %>
                          <li>
                            <div class="checkboxBlue">
                              <input type="checkbox" value="<%= area_collection["areaName"] %>" id="checkboxFourInput-location-<%= area_collection["areaId"] %>" name="size-filter" rel="location-<%= area_collection["areaId"] %>">
                              <label for="checkboxFourInput-location-<%= area_collection["areaId"] %>"></label>
                            </div>
                            <div class="mrg-L25"><%= area_collection["areaName"] %></div>
                          </li>
                      <% end %>
                    </div>
                <% end %>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="close_btn3">
        <a href="#" class="close-listbox2">Close</a>
      </div>
    </div>
<% end %>
