<div class="listboxs2 display-none">
  <div class="listboxs2_catagories_outer">
    <div class="listboxs2_catagories">
      <ul>
        <% unless @states.blank? %>
            <% @states.each_with_index do |state,index| %>
                <li class="category" rel="<%= state %>">
                  <a href="#" class="<%= ' selected2' if index == 0 %>"><%= state %></a>
                </li>
            <% end %>
        <% end %>
      </ul>
    </div>
    <div class="listboxs2_sub_catagories">
      <ul>
        <% unless @areas.blank? %>
            <% @areas.each_with_index do |sub_area,index| %>
                <div id="<%= @states[index].gsub(' ','') %>" class="sub-category<%= ' display-none' unless index == 0 %>">
                  <% sub_area.each do |area| %>
                      <li>
                        <div class="checkboxBlue">
                          <input type="checkbox" value="<%= area["areaName"] %>" id="checkboxFourInput-location-<%= area["areaId"] %>" name="size-filter" rel="location-<%= area["areaId"] %>">
                          <label for="checkboxFourInput-location-<%= area["areaId"] %>"></label>
                        </div>
                        <div class="mrg-L25"><%= area["areaName"] %></div>
                      </li>
                  <% end %>
                </div>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="close_btn3">
    <a href="#" class="close-listbox2">Close</a>
  </div>
</div>
