<div class="ofunnelalert-box" style="padding-right:0px; width:98%;">
  <div class="userprofile-box">
    <div class="topheadingwrapper" style="width:66%">
      <div class="headings1">Filters</div> <a href="<%= new_alert_path %>" class="addnewalerts">Add new filter</a>
    </div>
  </div>
  <div class="contoso-page">
    <% if flash[:notice] %>
        <div class="alert-notice col-red font-16"><%= flash[:notice] %></div>
        <script type="text/javascript">
            $('div.alert-notice').delay(3000).fadeOut();
        </script>
    <% end %>
    <div class="alert-gray_new" style="background:none;">
      <div class="alerts_details">
        <table width="100%" border="0" cellspacing="0" cellpadding="10">
          <tr>
            <th width="22%">Filter type</th>
            <th width="48%">Target</th>
            <th width="10%">&nbsp;</th>
            <th width="10%">&nbsp;</th>
            <th width="10%">&nbsp;</th>
          </tr>
          <% unless @alerts.nil? or @alerts.blank? %>
              <% @alerts.each_with_index do |alert,i| %>
                  <tr <%= 'class=active' if i == @first_alert_index %> rel=<%= alert["targetAccountId"] %>>
                    <td><%= to_dc alert["filterType"] %></td>
                    <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><%= alert["targetName"] %></td>
                    <td class="filter-tooltip-container">
                      <% unless alert["secondLevelFilterDetails"].blank? %>
                          <div style="position:relative">
                            <div class="arrow_box display-none">
                              <h3><%= to_dc alert["filterType"] %>: <%= alert["targetName"] %></h3>
                              <%
                                 alert["secondLevelFilterDetails"].each_with_index do |filter,i|
                                   subfilter = (filter["subFilterType"].eql? "COMPANYSIZE") ? "Company Size" : to_dc(filter["subFilterType"])
                              %>
                                  <p class=""><i><%= subfilter %>:</i> <%= filter["filterTextDetails"].map{|filter_text| filter_text["filterText"] }.join(', ')  %></p>
                                  <% break if i == 1 %>
                              <% end %>
                              <p><a href="<%= edit_alert_path(alert["targetAccountId"]) %>">more</a></p>
                            </div>
                            <a class="filter-tooltip-link" href="#"><img src="/assets/mobile_menu.png" width="20" height="14"></a>
                          </div>
                      <% end %>
                    </td>
                    <td>
                      <a href="<%= edit_alert_path(alert["targetAccountId"]) %>"><img src="/assets/edit_icon.png" width="20" height="19" alt="edit"></a>
                    </td>
                    <td>
                      <a class="delete-target-account" href="<%= alert_delete_path(alert["targetAccountId"]) %>"><img src="/assets/delete_icon.png" width="20" height="19" alt="delete"></a>
                    </td>
                  </tr>
              <% end %>
          <% end %>
        </table>
        <a href="<%= new_alert_path %>" class="font-11 bold float-L mrg-T20"> (Add more) </a>
        <a href="#" class="font-11 bold float-L mrg-L15 mrg-T20" id="alert-add-target-account-list"> (Import target account list) </a>
        <a href="#" class="font-11 bold float-L mrg-L15 mrg-T20" id="alert-import-salesforce"> (Salesforce users) </a>
      </div>
      <% if @total_pages > 1 %>
          <div class="alert-pagination">
            <% if @current_page != 1 %>
                <a href="<%= alerts_path({:offset => @offset - @count}) %>" class="last-text pl-active"><span class="font-12">◄</span> Last 25</a>
            <% elsif @total_pages > 1 %>
                <a href="#" class="last-text pl-inactive"><span class="font-12">◄</span> Last <%= @count %></a>
            <% end %>
            <%= render "ds_pagination_links" %>
            <% if @page_remaining != 0 %>
                <a href="<%= alerts_path({:offset => @offset + @count}) %>" class="next-text pl-active">Next 25 <span class="font-12">►</span></a>
            <% elsif @total_pages > 1 %>
                <a href="#" class="next-text pl-inactive">Next <%= @count %> <span class="font-12">►</span></a>
            <% end %>
          </div>
      <% end %>
      <!--<div class="send-box txt-L mrg-T15 mrg-B10"><input class="send-btn pad-L40 pad-R40 pad-T10 pad-B10 font-24" type="submit" value="Submit" name="" /></div>-->
    </div>
    <% unless @similar.nil? %>
        <% if @first_alert_filter_type.eql? "COMPANY" %>
            <%= render "similar_companies" %>
        <% elsif @first_alert_filter_type.eql? "ROLE" %>
            <%= render "similar_roles" %>
        <% end %>
    <% end %>
  </div> <!-- End Contoso Page -->
</div><!-- End Ofunnel Alert-box -->

<div id="alert-csv-popup" class="display-none">
  <!-- START Import from CSV LIGHT BOX -->
  <div class="lightbox">
    <h2 class="col-blue">Import Target Accounts from csv/xslx</h2>
    <a href="#" class="cancel-icon"></a>
    <div class="import-alert-csv-box">
      <%= form_tag(alerts_import_csv_path, :id=> "alert-csv-form") do %>
          <div class="send-box txt-L"><a class="send-btn calibrib alert-csv-file">Add csv/xslx file</a></div>
          <div style='height: 0px;width: 0px; overflow:hidden;'>
            <input type="file" name="csv" class="alert-csv-input" onchange="addAlertCsvFile(this.files);" value="Add csv file">
          </div>
          <span class="col-red font-18" id="alert-csv-error" style="display: none;"> * </span>
          <div class="alert-csv-loader"></div>
          <div class="send-box txt-L"><input type="submit" value="Upload" class="send-btn calibrib alert-csv-submit display-none"></div>
      <% end %>
    </div>
  </div><!-- START Import from CSV LIGHT BOX -->
</div>

<div id="alert-salesforce-popup" class="display-none" style="width: 400px;">
  <!-- START Import from CSV LIGHT BOX -->
  <div class="lightbox">
    <h2 class="col-blue">Import from Salesforce</h2>
    <a href="#" class="cancel-icon"></a>
    <div class="import-alert-salesforce-box">
      <%= form_tag(import_salesforce_path, :id=> "alert-salesforce-form") do %>
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <ul class="red-radio-box" style="width: inherit;margin-bottom: 10px;">
            <li class="float-R mrg-T5 col-black-2">
              <label for="radio3" class="mrg-L30 font-16 calibrib">Accounts </label>
              <span></span>
              <input type="radio" id="radio3" name="type" value="ACCOUNT"/>
              <span></span>
            </li>
            <li class="float-R mrg-R40 mrg-T5 col-black-2">
              <label for="radio4" class="mrg-L30 font-16 calibrib">Leads </label>
              <span></span>
              <input type="radio" id="radio4" name="type" checked="checked" value="LEAD"/>
              <span></span>
            </li>
          </ul>
          <p class="float-L" style="margin-top: 0px;">We will now import your leads/accounts (based on radial button selected) list from Salesforce. If you are not logged into Salesforce, we will redirect you to Salesforce login. Click Import to Continue.</p>
          <div class="alert-salesforce-loader"></div>
          <div class="all-box">
            <div class="send-box txt-L" style="width: auto;"><input type="submit" value="Import" class="send-btn calibrib alert-salesforce-submit"></div>
            <div class="send-box mrg-L10" style="width: auto;"><a href="#" onclick="$('button#cboxClose').trigger('click'); return false;" class="send-btn float-L" style="line-height: normal;">Cancel</a></div>
          </div>
      <% end %>
    </div>
  </div><!-- START Import from salesforce LIGHT BOX -->
</div>

<script type="text/javascript">
    adjustSimilarBox("<%= @first_alert_index %>");
</script>
