<% results_flag = (@direct_connections.nil? and @indirect_connections.nil?) %>
<% unless results_flag %>
    <%
       company = {}
       company["companyName"] = @query
       index = 0
       tab_selected = false
    %>
    <% unless @multiple.nil? %>
        <% unless @direct_connections.nil? %>
            <%= render :partial => 'first_level_connections' %>
        <% end %>
        <% unless @indirect_connections.nil? %>
            <%= render :partial => 'second_level_connections' %>
        <% end %>
        <% if @connections_remaining and @connections_remaining > 0 %>
            <tr id="show-more-parent-node">
              <td>
                <%= form_tag(linkedin_search_path, :id => 'search-existing-show-more') do %>
                    <%= hidden_field_tag :query ,@query %>
                    <%= hidden_field_tag :offset ,@offset %>
                    <%= hidden_field_tag :type, @type %>
                    <%= hidden_field_tag :multiple, false %>
                    <img src="/assets/ajax-loader-more.gif" class="show-more-loader">
                    <%= submit_tag "Show more search results" ,:class => 'showmore showmore-position' %>
                <% end %>
              </td>
              <td class="display-none"></td>
            </tr>
        <% end %>
    <% else %>
        <% unless @direct_connections.nil? %>
            <%= render :partial => 'datasearch_first_level_connections', :locals => {:company => company,:tab_selected => tab_selected} %>
        <% end %>
        <% unless @indirect_connections.nil? %>
            <%= render :partial => 'datasearch_second_level_connections', :locals => {:company => company,:tab_selected => tab_selected} %>
        <% end %>
        <% if @connections_remaining and @connections_remaining > 0 %>
            <tr class="<%= company["companyName"] %><%= " display-none" unless index == 0 %> show-more-company-results">
              <td>
                <%= form_tag(linkedin_search_path) do %>
                    <%= hidden_field_tag :query, company["companyName"] %>
                    <%= hidden_field_tag :offset, @offset %>
                    <%= hidden_field_tag :type, 'COMPANY' %>
                    <% unless @multiple.nil? %>
                        <%= hidden_field_tag :multiple, false %>
                    <% end %>
                    <img src="/assets/ajax-loader-more.gif" class="show-more-loader">
                    <%= submit_tag "Show more search results" ,:class => 'showmore showmore-position' %>
                <% end %>
              </td>
              <td class="display-none">First Level Connection</td>
            </tr>
        <% end %>
        <% tab_selected = true %>
    <% end %>
<% end %>

<% if @multiple.nil? %>
    <% unless results_flag %>
        <style type="text/css">
            div#dataTable-request-filter_filter {
                display: none;
            }
            div#dataTable-request-filter_wrapper {
                float: none;
            }
        </style>
        <script type="text/javascript">
            $(function() {
                var gCompanyFilter = $('#dataTable-request-filter').dataTable({
                    "bPaginate": false,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bSort": false,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "oLanguage": {
                        "sSearch": ""
                    }
                }).columnFilter({ aoColumns:
                                [
                                    {},
                                    { type: "text", bRegex: true }
                                ]

                        });
                applyOnlyCompanyConnectionsFilter();
            });
        </script>
    <% end %>
<% end %>
