<div class="ofunnelalert-box">
  <div class="userprofile-box">
    <div class="profile-title">
      OFunnel Alerts
      <span class="col-red font-18" id="alert-target-account-error" style="display: none;"> * </span>
      <% if flash[:notice] %>
          <div class="col-red font-18"><%= flash[:notice] %></div>
      <% end %>
    </div>
  </div>

  <div class="contoso-page">
    <%= form_tag(add_relationships_path, :id => "add_relationships_form", :class => "alert-gray") do %>
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <div class="alert-details">
          <% unless @alerts.nil? or @alerts.empty? %>
              <% @alerts.each do |alert| %>
                  <div class="addmore-box ofunnel-alerts">
                    <div class="input-relative comp-select">
                      <div class="select-box">
                        <select class="select alert-type" title="">
                          <option<%= ' selected="true"' if alert["type"] == "COMPANY" %>>Company</option>
                          <option<%= ' selected="true"' if alert["type"] == "PERSON" %>>Person</option>
                          <option<%= ' selected="true"' if alert["type"] == "ROLE" %>>Role</option>
                        </select>
                      </div>
                    </div>
                    <div class="input-relative2">
                      <input type="text" name="name" class="name-select normal" value="<%= alert["name"] %>" Placeholder="Nike" />
                      <input type="text" name="query" class="name-select request_connection_search person display-none" value="<%= alert["name"] %>" placeholder="Nike" /><a href="#" class="downarrow person-downarrow display-none" ></a>
                      <%= render :partial => 'search_alert_connections' %>
                    </div>
                    <input type="hidden" name="alertId" value="<%= alert["alertId"] %>" />
                    <a href="<%= remove_relationship_path %>" class="delete-icon alert-remove-target"></a>
                  </div>
              <% end %>
          <% else %>
              <div class="addmore-box ofunnel-alerts">
                <div class="input-relative comp-select">
                  <div class="select-box">
                    <select class="select alert-type" title="">
                      <option selected="true">Company</option>
                      <option>Person</option>
                      <option>Role</option>
                    </select>
                  </div>
                </div>
                <div class="input-relative2">
                  <input type="text" name="name" class="name-select normal" value="" Placeholder="Nike" />
                  <input type="text" name="query" class="name-select request_connection_search person display-none" value="" placeholder="Nike" /><a href="#" class="downarrow person-downarrow display-none" ></a>
                  <%= render :partial => 'search_alert_connections' %>
                </div>
                <input type="hidden" name="alertId" value="" />
                <a href="<%= remove_relationship_path %>" class="delete-icon alert-remove-target"></a>
              </div>
          <% end %>
        </div>
        <br>
        <a href="#" class="font-11 bold float-L mrg-T20" id="alert-add-target-account"> (Add more) </a>
        <a href="#" class="font-11 bold float-L mrg-L15 mrg-T20" id="alert-add-target-account-list"> (import target account list) </a>
        <a href="#" class="font-11 bold float-L mrg-L15 mrg-T20" id="alert-import-salesforce"> (import from Salesforce) </a>
        <input type="hidden" name="alertJson" value="" />
        <% if @total_pages > 1 %>
            <div class="alert-pagination">
              <% if @current_page != 1 %>
                  <a href="<%= discover_relationships_path({:offset => @offset - @count}) %>" class="last-text pl-active"><span class="font-12">◄</span> Last 25</a>
              <% elsif @total_pages > 1 %>
                  <a href="#" class="last-text pl-inactive"><span class="font-12">◄</span> Last <%= @count %></a>
              <% end %>
              <%= render "ds_pagination_links" %>
              <% if @page_remaining != 0 %>
                  <a href="<%= discover_relationships_path({:offset => @offset + @count}) %>" class="next-text pl-active">Next 25 <span class="font-12">►</span></a>
              <% elsif @total_pages > 1 %>
                  <a href="#" class="next-text pl-inactive">Next <%= @count %> <span class="font-12">►</span></a>
              <% end %>
            </div>
        <% end %>
        <div class="send-box txt-L mrg-T15 mrg-B10">
          <input class="send-btn pad-L40 pad-R40 pad-T10 pad-B10 font-24" type="submit" value="Submit" name="" />
        </div>
    <% end %>
    <div class="alert-text-box">
      <span class="col-blue calibrib font-18">Monitor LinkedIn as your Network Expands</span>
      <p>OFunnel Alerts are email updates of your expanding network.</p>
      <p>How does it work? Enter a search query you wish to monitor and tell us whether it is a company, an individual, or a job role. We will let you know when someone in your network meets the criteria.  Some handy uses of OFunnel Alerts for</p>
      <ul class="font-14">
        <li class="mrg-B15"><b>SALES:</b>  Enter the accounts you are targeting.</li>
        <li class="mrg-B15"><b>RECRUITING:</b>  Enter the job role you are hiring for.</li>
        <li class="mrg-B15"><b>COMPETITIVE INTELLIGENCE:</b> Enter the name of the person or company name of your competitor.</li>
        <li class="mrg-B15"><b>JOB SEARCH:</b> Enter the name of the company you would like to work for.</li>
      </ul>
    </div>
  </div> <!-- End Contoso Page -->
</div><!-- End Ofunnel Alert-box -->

<div class="extra-alert-container display-none">
  <div class="addmore-box ofunnel-alerts">
    <div class="input-relative comp-select">
      <div class="select-box">
        <select class="select alert-type" title="">
          <option selected="true">Company</option>
          <option>Person</option>
          <option>Role</option>
        </select>
      </div>
    </div>
    <div class="input-relative2">
      <input type="text" name="name" class="name-select normal" value="" Placeholder="Nike" />
      <input type="text" name="query" class="name-select request_connection_search person display-none" value="" placeholder="Nike" /><a href="#" class="downarrow person-downarrow display-none" ></a>
      <%= render :partial => 'search_alert_connections' %>
    </div>
    <input type="hidden" name="alertId" value="" />
    <a href="<%= remove_relationship_path %>" class="delete-icon alert-remove-target"></a>
  </div>
</div>

<div id="alert-csv-popup" class="display-none">
  <!-- START Import from CSV LIGHT BOX -->
  <div class="lightbox">
    <h2 class="col-blue">Import Target Accounts from csv/xslx</h2>
    <a href="#" class="cancel-icon"></a>
    <div class="import-alert-csv-box">
      <%= form_tag(alerts_import_csv_path, :id=> "alert-csv-form") do %>
          <div class="send-box txt-L"><a class="send-btn calibrib alert-csv-file">Add csv/xslx file</a></div>
          <div style='height: 0px;width: 0px; overflow:hidden;'>
            <input type="file" name="csv" class="alert-csv-input" onchange="addAlertCsvFile(this.files);" value="Add csv file">
          </div>
          <span class="col-red font-18" id="alert-csv-error" style="display: none;"> * </span>
          <div class="alert-csv-loader"></div>
          <div class="send-box txt-L"><input type="submit" value="Upload" class="send-btn calibrib alert-csv-submit display-none"></div>
      <% end %>
    </div>
  </div><!-- START Import from CSV LIGHT BOX -->
</div>

<div id="alert-salesforce-popup" class="display-none" style="width: 400px;">
  <!-- START Import from CSV LIGHT BOX -->
  <div class="lightbox">
    <h2 class="col-blue">Import Leads/Accounts from Salesforce</h2>
    <a href="#" class="cancel-icon"></a>
    <div class="import-alert-salesforce-box">
      <%= form_tag(import_salesforce_path, :id=> "alert-salesforce-form") do %>
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <ul class="red-radio-box" style="width: inherit;">
            <li class="float-R mrg-T5 col-black-2">
              <label for="radio3" class="mrg-L30 font-16 calibrib">Accounts </label>
              <span></span>
              <input type="radio" id="radio3" name="type" value="ACCOUNT"/>
              <span></span>
            </li>
            <li class="float-R mrg-R40 mrg-T5 col-black-2">
              <label for="radio4" class="mrg-L30 font-16 calibrib">Leads </label>
              <span></span>
              <input type="radio" id="radio4" name="type" checked="checked" value="LEAD"/>
              <span></span>
            </li>
          </ul>
          <div class="alert-salesforce-loader"></div>
          <div class="send-box txt-L"><input type="submit" value="Import" class="send-btn calibrib alert-salesforce-submit"></div>
      <% end %>
    </div>
  </div><!-- START Import from salesforce LIGHT BOX -->
</div>
