<div class="right-panel" style="width:94%; padding:3%;">
  <!-- user statistics sesction start -->
  <div class="userstat_wrapper">
    <div class="headings1 margin_B20">User Statistics</div>
    <div class="col-red font-18 mrg-B25 display-none stats-alert-added-confirmation">Alerts has been added.</div>
    <div class="userstat_inner">
      <div class="userstat_hd margin_b10">User ID</div>
      <form action="<%= admin_stat_path(0) %>" method="GET">
        <div class="userstat_text_box_block margin_b20">
          <div class="input_section mrg-T10 mrg-B10 float-L">
            <input type="text" name="user_id" class="inputbox1">
            <a class="float-R edit_icn"><img width="11" height="10" alt="edit" src="/assets/edit_icon2.png"></a>
          </div>
          <input type="submit" value="Go" class="gobtn">
        </div>
      </form>
      <% unless @network.blank? and @accounts.blank? and @roles.blank? %>
          <div class="netwok_silmilar_section">
            <div class="network_section">
              <div class="netsim_hd">Network in last 7 days</div>
              <ul class="networklist">
                <% unless @network.blank? %>
                    <% @network.each do |update| %>
                        <li><%= update["name"] %> <span><%= update["networkExpandCount"] %></span></li>
                    <% end %>
                <% else %>
                    <li>No updates found.</li>
                <% end %>
              </ul>
            </div>
            <div class="similar_section">
              <div class="netsim_hd margin_b10">Similar Target Accounts</div>
              <% unless @accounts.blank? %>
                  <% @accounts.each do |account| %>
                      <div class="account_section margin_b26">
                        <h2><%= account["companyName"] %></h2>
                        <p>
                          <% account["similarCompanies"].each_with_index do |company,index| %>
                              <a href="#" id="<%= account["targetAccountId"] %>" class="admin-add-similar-alert">
                                <%= company['companyName'] %>
                                <%= ', ' unless index + 1 == account["similarCompanies"].length %>
                              </a>
                          <% end %>
                        </p>
                      </div>
                  <% end %>
              <% else %>
                  <div class="account_section margin_b26">
                    <p>No similar company found.</p>
                  </div>
              <% end %>

              <div class="netsim_hd margin_b10">Similar Roles</div>
              <% unless @roles.blank? %>
                  <% @roles.each do |role| %>
                      <div class="account_section margin_b26">
                        <h2><%= role["role"] %></h2>
                        <p>
                          <% role["similarRoles"].each_with_index do |s_role,index| %>
                              <a href="#" id="<%= role["targetAccountId"] %>" class="admin-add-similar-alert">
                                <%= s_role['role'] %>
                                <%= ', ' unless index + 1 == role["similarRoles"].length %>
                              </a>
                          <% end %>
                        </p>
                      </div>
                  <% end %>
              <% else %>
                  <div class="account_section margin_b26">
                    <p>No similar role found.</p>
                  </div>
              <% end %>
            </div>
      <% end %>
      </div>
    </div>
    <!-- user statistics sesction start -->
    <!-- End sent_received_section -->
  </div><!-- End Right Panel -->
</div>
<script type="text/javascript">
    statsUserId = <%= @user_id %>
</script>
