<% unless @alerts.blank? %>
    <% @alerts.each do |alert| %>
        <%
           alert_type = alert["alertType"]
           network_alert = alert["targetName"]
           friend_profile = friend_profile_url(alert)
           friend_target = friend_profile == "#" ? '' : ' target="_blank"'
           f_connected_profile = f_connected_profile_url(alert)
           f_connected_target = f_connected_profile == "#" ? '' : ' target="_blank"'
           event_time = DateTime.strptime(alert["updatedAt"],'%m/%d/%Y %l:%M:%S %p').strftime("%b %e, %I:%M%P")
        %>
        <div class="alert-wrapper">
          <div class="theme_<%= session[:hootsuite][:theme] %>">
            <div class="thumbtop_section">
              <div class="height10"></div>
              <div class="target_block">Target <%= alert_type.downcase.capitalize %>: <%= network_alert %></div>
              <div class="thimg"><div class="thumb_img"><a href="#"><img src="<%= friend_profile_pic_url(alert) %>"  alt="img" style="height: 30px;width: 30px;"></a></div></div>
              <div class="thumbuser_details">
                <p class="thumb_username"><a href="<%= friend_profile %>"<%= friend_target %>><%= friend_name(alert) %></a></p>
                <div class="thumb_date"><%= event_time %></div>
                <p class="text"><a href="<%= friend_profile %>"<%= friend_target %>><%= friend_name(alert) %></a> is now connected to <a href="<%= f_connected_profile %>"<%= f_connected_target %>><%= f_connected_name(alert) %></a></p>
              </div>
              <div class="bigimg_details">
                <div class="large_img"><a href="#"><img src="<%= f_connected_profile_pic_url(alert) %>" alt="img"></a></div>
                <div class="bigbuser_details">
                  <p class="bigbuser_username"><a href="<%= f_connected_profile %>"<%= f_connected_target %>><%= f_connected_name(alert) %></a></p>
                  <div class="biguser_designation">
                    <p><%= f_connected_headline(alert) %></p>
                  </div>
                </div>
              </div>
              <div class="height1"></div>
            </div>
          </div>
        </div>
    <% end %>
<% end %>
