<% @theme = cookies.signed[:theme] %>
<% unless @is_subscription_expired %>
    <% unless @alerts.blank? %>
        <% @alerts.each do |alert| %>
            <%
               alert_type = alert["alertType"]
               network_alert = alert["targetName"]
               friend_profile = friend_profile_url(alert)
               friend_target = friend_profile == "#" ? '' : ' target="_blank"'
               friend_linkedin_id = friend_linkedin_id(alert)
               f_connected_profile = f_connected_profile_url(alert)
               f_connected_target = f_connected_profile == "#" ? '' : ' target="_blank"'
               f_connected_linkedin_id = f_connected_linkedin_id(alert)
               event_time = DateTime.strptime(alert["updatedAt"],'%m/%d/%Y %l:%M:%S %p').strftime("%Y-%m-%dT%H:%M:%SZ")
            %>
            <div class="alert-wrapper">
              <div class="theme_<%= @theme %>">
                <div class="height1"></div>
                <div class="thumbtop_section">
                  <div class="target_block">Target <%= alert_type.downcase.capitalize %>: <%= network_alert %></div>
                  <div class="thimg">
                    <div class="thumb_img"><a class="hs-open-user-info-popup" href="#" rel="<%= friend_linkedin_id %>"><img src="<%= friend_profile_pic_url(alert) %>"  alt="img" style="height: 30px;width: 30px;"></a></div></div>
                  <div class="thumbuser_details">
                    <p class="thumb_username"><a class="hs-open-user-info-popup" href="#" rel="<%=friend_linkedin_id  %>"><%= friend_name(alert) %></a></p>
                    <span class="thumb_date" data-localtime-format="MMM dd, HH:mmtt"><%= event_time %></span>
                    <p class="text"><a class="hs-open-user-info-popup" href="#" rel="<%= friend_linkedin_id %>"><%= friend_name(alert) %></a> is now connected to <a class="hs-open-user-info-popup" href="#" rel="<%= f_connected_linkedin_id %>"><%= f_connected_name(alert) %></a></p>
                  </div>
                  <div class="bigimg_details">
                    <div class="large_img"><a class="hs-open-user-info-popup" href="#" rel="<%= f_connected_linkedin_id %>"><img src="<%= f_connected_profile_pic_url(alert) %>" alt="img"></a></div>
                    <div class="bigbuser_details">
                      <p class="bigbuser_username"><a class="hs-open-user-info-popup" href="#" rel="<%= f_connected_linkedin_id %>"></a></p>
                      <div class="biguser_designation">
                        <p><%= f_connected_headline(alert) %></p>
                      </div>
                    </div>
                  </div>
                  <div class="height10"></div>
                </div>
              </div>
            </div>
        <% end %>
    <% else %>
        <div class="theme_<%= @theme %>">
          <div class="biguser_designation pad-all-10">
            <p>
              Start by adding appropriate filters via the tab above.
              If you have already added filters, we will notify you via this stream as soon as you have a connection that matches the criteria. For more leads, check the Use Cases link <a href="http://blog.ofunnel.com/blog/2014/01/21/ofunnel-use-cases/" target="ofunnel">here</a>.
            </p>
          </div>
        </div>
    <% end %>
<% else %>
    <div class="theme_<%= @theme %>">
      <div class="biguser_designation pad-all-10">
        <p>
          <%= @subscription_message %>
        </p>
      </div>
    </div>
<% end %>
