<!--start mobile container white-->
<div class="mobile-container-gray">
  <!--start mobile-container-Box-->
  <div class="mobile-container-box" style="margin: 0">
    <div class="container mrg-T5 mrg-L10" style="margin-bottom: 5px;">
      <div id="alert-target-account-error" class="display-none" style="padding-left: 2%;padding-top: 2%;">
        <span class="col-red font-18"> * </span>
      </div>
      <% if flash[:notice] %>
          <div id="alert-target-account-added" style="padding-left: 2%;padding-top: 2%;">
            <span class="col-red font-15"><%= flash[:notice] %></span>
          </div>
          <script type="text/javascript">
              $('#alert-target-account-added').delay('3000').fadeOut();
          </script>
      <% end %>
      <div class="ofunnelalert-box">
        <div class="all-box">
          <%= form_tag(add_relationships_path, :id => "add_relationships_form", :class => "alert-gray") do %>
              <div class="top-links-wrapper">
                <div class="add-new-alert txt-L mrg-T15 mrg-B10">
                  <a id="alert-add-target-account" class="font-15 bold" href="#">Add new alert</a>
                </div>
                <div class="submit-alerts send-box txt-L mrg-T15 mrg-B10">
                  <input type="submit" name="" value="Submit" class="send-btn pad-L25 pad-R25 pad-B5">
                </div>
              </div>
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
              <div class="alert-details">
                <% unless @alerts.nil? or @alerts.empty? %>
                    <% @alerts.each do |alert| %>
                        <div class="addmore-box ofunnel-alerts">
                          <div class="input-relative comp-select">
                            <div class="select-box">
                              <select class="select alert-type" title="">
                                <option<%= ' selected="true"' if alert["type"] == "COMPANY" %>>Company</option>
                                <option<%= ' selected="true"' if alert["type"] == "PERSON" %>>Person</option>
                                <option<%= ' selected="true"' if alert["type"] == "ROLE" %>>Role</option>
                              </select>
                            </div>
                          </div>
                          <input type="text" name="name" class="name-select" value="<%= alert["name"] %>" Placeholder="Nike" />
                          <input type="hidden" name="alertId" value="<%= alert["alertId"] %>" />
                          <a href="<%= remove_relationship_path %>" class="delete-icon alert-remove-target"></a>
                        </div>
                    <% end %>
                <% else %>
                    <div class="addmore-box ofunnel-alerts">
                      <div class="input-relative comp-select">
                        <div class="select-box">
                          <select class="select alert-type" title="">
                            <option selected="true">Company</option>
                            <option>Person</option>
                            <option>Role</option>
                          </select>
                        </div>
                      </div>
                      <input type="text" name="name" class="name-select" value="" Placeholder="Nike" />
                      <input type="hidden" name="alertId" value="" />
                      <a href="<%= remove_relationship_path %>" class="delete-icon alert-remove-target"></a>
                    </div>
                <% end %>
              </div><!-- End Alert Details -->
              <br>
              <input type="hidden" name="alertJson" value="" />
              <input type="hidden" name="dataType" value="json" />
          <% end %>
        </div><!-- End All Box -->
      </div><!-- End Ofunnelalert Box -->
    </div>
  </div><!--end mobile-container-Box-->
</div>
<!--end mobile container white-->
<div class="extra-alert-container display-none">
  <div class="addmore-box ofunnel-alerts">
    <div class="input-relative comp-select">
      <div class="select-box">
        <select class="select alert-type" title="">
          <option selected="true">Company</option>
          <option>Person</option>
          <option>Role</option>
        </select>
      </div>
    </div>
    <input type="text" name="name" class="name-select" value="" Placeholder="Nike" />
    <input type="hidden" name="alertId" value="" />
    <a href="<%= remove_relationship_path %>" class="delete-icon alert-remove-target"></a>
  </div>
</div>

