<!--start mobile container white-->
<div class="mobile-container-gray">
  <!--start mobile-container-Box-->
  <div class="mobile-container-box" style="margin: 0">
    <div class="container mrg-T5 mrg-L10" style="margin-bottom: 5px;">
      <div id="alert-target-account-error" class="display-none">
        <span class="col-red font-18"> * </span>
      </div>
      <div id="alert-target-account-added" style="padding-bottom: 5px;">
        <span class="col-red font-15"></span>
      </div>
      <div class="ofunnelalert-box">
        <div class="all-box">
          <%= form_tag(hootsuite_add_relationships_path, :id => "add_relationships_form", :class => "alert-gray") do %>
              <div class="top-links-wrapper">
                <div class="add-new-alert txt-L mrg-B5">
                  <a id="alert-add-target-account" class="font-15 bold" href="#">
                    <img class="mrg-B5 mrg-R5" src="/assets/<%= cookies.signed[:theme] %>_add.png" alt="add" style="vertical-align: middle;">
                    Add new filter
                  </a>
                </div>
                <div class="txt-L float-R mrg-B5">
                  <a class="hs_btn-cmt pad-L25 pad-R25 pad-B5" href="#" onclick="return $('form#add_relationships_form').submit();">Submit</a>
                </div>
                <div class="submit-alerts txt-L mrg-T15 mrg-B10 display-none">
                  <input type="submit" name="" value="Submit" class="hs_btn-cmt pad-L25 pad-R25 pad-B5">
                </div>
              </div>
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
              <div class="alert-details">
                <% unless @alerts.nil? or @alerts.empty? %>
                    <% @alerts.each do |alert| %>
                        <div class="addmore-box ofunnel-alerts">
                          <div class="input-relative comp-select">
                            <div class="select-box">
                              <select class="select alert-type" title="">
                                <option<%= ' selected="true"' if alert["filterType"] == "COMPANY" %>>Company</option>
                                <option<%= ' selected="true"' if alert["filterType"] == "PERSON" %>>Person</option>
                                <option<%= ' selected="true"' if alert["filterType"] == "ROLE" %>>Role</option>
                              </select>
                            </div>
                          </div>
                          <input type="text" name="name" class="name-select" value="<%= alert["targetName"] %>" Placeholder="Nike" />
                          <input type="hidden" name="alertId" value="<%= alert["targetAccountId"] %>" />
                          <a href="<%= hootsuite_remove_relationship_path %>" class="delete-icon alert-remove-target"></a>
                        </div>
                    <% end %>
                <% else %>
                    <div class="addmore-box ofunnel-alerts">
                      <div class="input-relative comp-select">
                        <div class="select-box">
                          <select class="select alert-type" title="">
                            <option selected="true">Company</option>
                            <option>Person</option>
                            <option>Role</option>
                          </select>
                        </div>
                      </div>
                      <input type="text" name="name" class="name-select" value="" Placeholder="Nike" />
                      <input type="hidden" name="alertId" value="" />
                      <a href="<%= hootsuite_remove_relationship_path %>" class="delete-icon alert-remove-target"></a>
                    </div>
                <% end %>
              </div><!-- End Alert Details -->
              <br>
              <input type="hidden" name="alertJson" value="" />
          <% end %>
        </div><!-- End All Box -->
      </div><!-- End Ofunnelalert Box -->
    </div>
  </div><!--end mobile-container-Box-->
</div>
<!--end mobile container white-->
<div class="extra-alert-container display-none">
  <div class="addmore-box ofunnel-alerts">
    <div class="input-relative comp-select">
      <div class="select-box">
        <select class="select alert-type" title="">
          <option selected="true">Company</option>
          <option>Person</option>
          <option>Role</option>
        </select>
      </div>
    </div>
    <input type="text" name="name" class="name-select" value="" Placeholder="Nike" />
    <input type="hidden" name="alertId" value="" />
    <a href="<%= hootsuite_remove_relationship_path %>" class="delete-icon alert-remove-target"></a>
  </div>
</div>

