<!DOCTYPE HTML>
<html>
<head>
  <title>OFunnel</title>
  <%
     @active_tab = cookies.signed[:tab]
     @theme = cookies.signed[:theme]
     @user_name = cookies.signed[:userName]
     @query = cookies.signed[:query]
  %>
  <%= stylesheet_link_tag    "public", :media => "all" %>
  <%= stylesheet_link_tag    "hootsuite", :media => "all" %>
  <%= stylesheet_link_tag    "hootsuite_#{@theme}", :media => "all" %>
  <%= javascript_include_tag "https://hootsuite.s3.amazonaws.com/jsapi/0-5/hsp.js" %>
  <%= javascript_include_tag "strftime-min" %>
  <%= javascript_include_tag "hootsuite_app" %>
  <%= javascript_include_tag "jquery-ui-1.10.3.custom.min" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
      var hootsuiteEnabled = true;
      var hootsuiteAppKey = "<%= Settings.hootsuite.APP_KEY %>"
      var hootsuiteRecieverPath = "<%= Settings.hootsuite.RECIEVER_PATH %>";
      var hootsuiteRemoveRelationship = "<%= hootsuite_remove_relationship_path %>";
      var hootsuiteStreamPath = "<%= hootsuite_stream_path %>";
      var hootsuiteTargetPath = "<%= hootsuite_targets_path %>";
      var hootsuiteTheme = "theme_<%= @theme %>";
      var hootsuiteUserName = "<%= @user_name %>";
      var hootsuiteAppInit = <%= params[:app_init].blank? ? true : false %>
      var getPersonsForQueryUrl = '<%= get_people_for_query_path %>';
      var getLinkedInProfileUrl = '<%= get_linkedin_profile_url %>'
      var activeTab = '<%= @active_tab %>';
      var query = document.location.search;
      var csrfToken = '<%= form_authenticity_token %>';
  </script>

  <% if params[:action] == "index" and @theme != "magnum" %>
      <style>
          html {
              background-color: #fff !important;
          }
      </style>
  <% end %>
</head>
<body class="bg-none">
<div class="maincontainer">
  <div class="hs_stream">
    <div class="hs_topBar">
      <div class="hs_content">
        <div class="hs_controls">
          <% unless current_user_id_from_cookies.blank? %>
              <a href="#" dropdown="_settings" title="Settings">
                <span class="icon-19 settings"></span>
              </a>
          <% end %>
          <a href="#" dropdown="_menuList" title="More">
            <span class="icon-19 dropdown"></span>
          </a>
        </div>
        <% unless current_user_id_from_cookies.blank? %>
            <a href="<%= "#{hootsuite_stream_path}?#{@query}" %>" class="right-border"<%= ' style=font-weight:bold' if @active_tab == "ALERTS" %>>Alerts</a>
            <a href="<%= "#{hootsuite_targets_path}?#{@query}" %>"<%= ' style=font-weight:bold' if @active_tab == "TARGETS" %>>Target Accounts</a>
        <% end %>
      </div>
      <div class="hs_dropdown" style="display: none;">
        <% unless current_user_id_from_cookies.blank? %>
            <div class="_settings hs_btns-right" style="display: none;">
              <a><b>Connected account:</b> <%= @user_name %></a>
              <a href="<%= hootsuite_disconnect_path %>" class="hs_btn-cmt mrg-L10">Disconnect</a>
            </div>
        <% end %>
        <div class="_menuList hs_btns-right" style="display: none;">
          <a href="#">Help</a>
          <hr style="margin: 5px 0 5px 0;">
          <a href="#">Feedback</a>
          <hr style="margin: 5px 0 5px 0;">
          <a href="#">Developer: OFunnel</a>
        </div>
      </div>
    </div>
    <div class="hs_topBarSpace"></div>
    <%= yield %>
  </div>
</div>
</body>
</html>
