<!DOCTYPE HTML>
<html>
<head>
  <title>OFunnel</title>
  <%= stylesheet_link_tag    "hootsuite_#{session[:hootsuite][:theme]}", :media => "all" %>
  <%= javascript_include_tag "https://hootsuite.s3.amazonaws.com/jsapi/0-5/hsp.js" %>
  <%= javascript_include_tag "strftime-min" %>
  <%= javascript_include_tag "hootsuite_app" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
      var hootSuiteEnabled = true;
      var hootsuiteStreamPath = "<%= hootsuite_stream_path %>";
      var hootsuiteRecieverPath = "<%= Settings.hootsuite_reciever_path %>";
      var hootsuiteTheme = "theme_<%= session[:hootsuite][:theme] %>";
      var hootsuiteUserName = "<%= session[:hootsuite][:userName] %>";
  </script>
</head>
<body style="background: #FFF !important;">
<div class="maincontainer">
  <div class="maincontainer_section">
    <div class="theme_<%= session[:hootsuite][:theme] %>_topsec">
      <div class="topsec_box">
        <div class="topsec_dropdown_holder">
          <span class="topsec_dropdown"><a href="#"></a></span>
        </div>
      </div>
      <div class="top_links" style="display: none;">
        <ul>
          <!--<li><a href="#">Alerts</a></li>-->
          <li><a href="#" onclick="window.open('<%= discover_relationships_path %>', '', 'width=700,height=800');return false;">Target Accounts</a></li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </div>
</div>
</body>
</html>
