<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>OFunnel</title>
  <%= stylesheet_link_tag "alerts", :media => "all" %>
  <%= stylesheet_link_tag "application.html5", :media => "all" %>
  <%= stylesheet_link_tag "colorbox", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//app.payboard.com/Widget/v1.0/Payboard.js"></script>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      var userId = '<%= current_user_id %>'
      var userName = '<%= user_name %>'
      var userFirstName = '<%= user_first_name %>';
      var userLastName = '<%= user_last_name %>';
      var userEmail = '<%= user_email %>';
      var addGroupUrl = '<%= add_group_path %>'
      var alertsPagePath = '<%= alerts_path %>';
      var getPeopleInCompanyUrl = '<%= get_people_in_company_path %>'
      var getPersonsForQueryUrl = '<%= get_people_for_query_path %>'
      var searchGroupForQueryUrl = '<%= search_group_path %>'
      var searchMemberInGroupUrl = '<%= search_member_in_group_path %>'
      var searchIndustriesUrl = '<%= alert_industries_path %>'
      var searchLocationsUrl = '<%= alert_locations_path %>'
      var notificationFrequencyUrl = '<%= notification_frequency_path %>'
      var similarCompaniesUrl = '<%= similar_companies_path %>'
      var similarRolesUrl = '<%= similar_roles_path %>'
      var addSimilarAlertUrl = '<%= add_similar_alert_path %>'
      <% unless current_user.nil? %>
      var userProfilePath = '<%= "#{user_path(current_user_id)}#user-tags-focus" %>'
      <% end %>
      <% unless params[:nobust] %>
      var bustFrame = false;
      <% end %>
      <% if session[:track_login_event] %>
      var trackLoginEvent = true;
      <%
      session[:track_login_event] = nil
      end
      %>
      <% if session[:track_alert_event] %>
      var trackAlertEvent = true;
      <%
      session[:track_alert_event] = nil
      end
      %>
      // Commented due to bug#324
      //var showOfunnelHelp = <%#= show_ofunnel_help %>
  </script>

  <script>
      if (window!= top && bustFrame)
          top.location.href=location.href
  </script>

</head>
<body>
<div class="wrapper">
  <!-- START MAIN DIV-->
  <div class="UpperHdr">
		<p>Now get leads from twitter as well. Login via twitter and start receiving daily alerts from there. <a href="http://beta.ofunnel.com/twitter/authorize_with_twitter">Click here</a>. </p>
  </div>
  <div class="main clearfix">
    <!-- START HEADER -->
    <div class="header">
      <div class="logo_menu_box">
        <a href="<%= alerts_path %>"><img class="logo" src="/assets/logo.jpg" width="200"  alt="OFunnel" title="OFunnel" /></a>
        <div class="userstatus-box width-auto">
          <div class="signout-box" style="width:225px;">
            <div class="links" >
              <a href="<%= notifications_path %>#alert-history">Account</a>
		<a href="<%= notifications_path %>#alert-history">Alerts History</a>
              <a href="<%= logout_path %>">Log out</a>
              <% unless session[:trial_days].nil? or session[:trial_days].to_i < 1 %>
                  <span class="col-orange font-16 float-L pad-T10" style="width: 100%;text-align: right;">Trial ends in <%= session[:trial_days] %> days</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div><!-- END HEADER -->
    <!-- START CONTAINER -->
    <div class="container">
      <%= yield %>
    </div><!-- END CONTAINER -->
  </div><!-- END MAIN DIV-->
  <!-- START FOOTER -->
  <div class="footer">
    <div class="footer_box" style="width: 630px;"> Need suggestion on right filters? Email kushal@ofunnel.com or call at 425-985-3735 </div>
  </div><!-- START FOOTER -->
  <div id="black_overlay" style="display: none;"></div>
  <%= render "shared/welcome_wizard" %>
  <%= render "shared/delete_card" %>
  <%= render "shared/cancel_account" %>
</div>
<% if Rails.env.production? %>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-45620534-1', 'ofunnel.com');
        ga('send', 'pageview');

    </script>
<% end %>
</body>
</html>
